/* .navbar{
    height: 50px;
    width: 90%;
    background-color: black;
    color: white;
    margin-top: 10px;
    margin-left: 5%;
    align-content: center;
    justify-content: center;
    display: flex;

} */
/* p{
    color: orange;
    margin-top: 8%;
    margin-left: 50px;
} */