.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.card{
  
  
  border-color:#282c34;
  display: grid;
  grid-template-columns: auto auto auto;
  
  justify-content: center;


}
.carding{
  
  
  text-align: left;
  padding-left: 50px;
  margin-top: 50px;
  margin-left: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 400px;
  
  color: gray;
  margin-bottom: 50px;
  padding-bottom: 50px;
  

}
.carding:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.heading{
  text-align: center;
}
img{
  width: 100px;
  height: 100px;
}
.image{
  display: flex;
  
  margin-top: 10%;
}
.vs{
  margin-top: 12%;
  width: 100px;
  margin-left: 10%;
  color: black;
}
.image-text{
  display: flex;
  margin-left: 5%;
  margin-bottom: 15%;

}
.vs2{
  width: 150px;
  margin-left: 10%;
  color: black;
}
p{
  margin-top: 20px;
}
b{
  color: black;
}